<?xml version="1.0" encoding="utf-8"?>

<!-- 
   Copyright (C) 2010  Yuri Kanivets
 
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="kankan.wheel"
      android:versionCode="1"
      android:versionName="1.0">
      
    <application android:icon="@drawable/icon" android:label="WheelDemo">

		<activity android:name="kankan.wheel.demo.WheelDemo">
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		<activity android:name="kankan.wheel.demo.TimeActivity" android:label="Time">
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="kankan.wheel.WHEEL_SAMPLE"/>
            </intent-filter>
		</activity>
		<activity android:name="kankan.wheel.demo.PasswActivity" android:label="Password">
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="kankan.wheel.WHEEL_SAMPLE"/>
            </intent-filter>
		</activity>
		<activity android:name="kankan.wheel.demo.CitiesActivity" android:label="Cities">
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="kankan.wheel.WHEEL_SAMPLE"/>
            </intent-filter>
		</activity>
		<activity android:name="kankan.wheel.demo.EmptyActivity" android:label="Empty wheel">
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="kankan.wheel.WHEEL_SAMPLE"/>
            </intent-filter>
		</activity>

    </application>


</manifest> 